<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/login.css">

  </head>
  <body>
    <div class="opacity">
      <div class="login">
        <h1>Register</h1>
        <input type="text" id="name" class="loginBox" placeholder="Your Name">
        <input type="text" id="id" class="loginBox" placeholder="Your Id">
        <input type="password" id="ps" class="loginBox" placeholder="Your Password">

        <input type="button" class="btn" value="register">
      </div>
    </div>
    <script src="javascripts/register.js"></script>
  </body>
</html>
