<html>
  <head>
    <meta charset="utf-8">
    <title>Add Scrum</title>
    <link rel="stylesheet" href="stylesheets/scrumAdd.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <div class="flex">
      <div class="scrumBox">
        <h1 class="title">Add Scurm</h1>
        <div class="scrum">
          <div class="scrumContentHeader">
            <input type="text" id="header" class="box" placeholder="Scrum Header">
          </div>

          <div class="scrumContentDate">
            <input type="text" id="date" class="box" placeholder="Scrum Date">
          </div>

          <div class="scrumContentContent">
            <input type="text" id="content" class="box" placeholder="Scrum Content">
          </div>

          <div class="scrumContentBtn">
            <div class="memoBtn">Add</div>
          </div>
        </div>
      </div>
    </div>
    <script src="javascripts/scrumAdd.js"></script>
  </body>
</html>
