<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="stylesheets/scrum.css">
    <title>Scrum</title>
  </head>
  <body>
    <div class="scrumHeader">
      <div class="scrumLogout">Logout</div>
    </div>
    <div class="scrumBody">
      <div class="scrumFlex">
        <div class="scrumBox">
          <div class="todo">
            <h1>ToDo</h1>
          </div>
          <div class="todoBox">
            <!-- <div class="scrum">
              <div class="scrumContentHeader">
                <h1>Add Login</h1>
              </div>

              <div class="scrumContentDate">
                2016.10.31
              </div>

              <div class="scrumContentContent">
                Good
              </div>

              <div class="scrumContentBtn">
                <div class="memoBtn">Change</div>
              </div>
            </div> -->
          </div>
          <div class="addScrum">
            <div class="addBtn">
               Add
            </div>
          </div>
        </div>

        <div class="scrumBox">
          <div class="doing">
            <h1>Doing</h1>
          </div>
          <div class="doingBox">
          </div>
        </div>

        <div class="scrumBox">
          <div class="done">
            <h1>Done</h1>
          </div>
          <div class="doneBox">
          </div>
        </div>
      </div>
    </div>
    <script src="javascripts/scrum.js"></script>
  </body>
</html>
